<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Test Scoring</title>   
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="jquery-1.9.1.min.js"></script>
        <script src="ElfCore.js"></script>
		<script src="loadJsonFiles.js"></script>
        <script src="TestScoring.js"></script>
        <script src="TestCanvas.js"></script>
        <link href="index.css" rel="stylesheet" type="text/css" >   
    </head>

    <body>
        <h1 id="testConflict">Test Conflict</h1>
		<div>
			{{{heroTbl}}} {{{orcTbl}}}
		</div>
		
		<canvas id="orcCanvas">
      		Orc Killed goes here
      	</canvas>
		
		<div class="clear"> </div>		<div>		
			<p id="works"> </p>
			<p id="exper"> </p>
			<p id="hlth"> </p>
			<p id="bonus"> </p>

		    <button id="btnRead">Read</button>
		    <button id="btnWrite">Save Score</button>
		</div>
		<button id="btnStrike">Strike</button>
		<div>
				<a href="/TestGrid" id="testGridAnchor">Test Grid</a>
		</div>

        <ul id="randNumbList"> </ul>

        <ul id='debug'> </ul>

    </body>
</html>
