doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
	ul
		li
			a(href='/view/index') Home
		li
			a(href='/view/page02') Page02
		li
			a(href='/view/page03') Page03
		li
			a(href='/view/page04') Page04
		li
			a(href='/all') Game
	block content