myborder
  border: solid black thin
  border-radius: 8px
    
body
  background-color: #FF7400
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF
nav
  background-color: #DD0000
  width:100px
  height:300px
  border-style:solid
  border-width:5px
  margin-top:15px
li
  display: inline
  padding: 6px
  background: #3914AF
  border: solid black thin
  margin: 6px
  

