<table id="orcTbl" border='1'>
	<tr><th>Type</th><th>Orc</th></tr>
	<tr><td>Confidence</td><td>0</td></tr>
	<tr><td>Experience</td><td>0</td></tr>
	<tr><td>Knowldge</td><td>0</td></tr>
	<tr><td>Health</td><td>5</td></tr>
	<tr><td>Moves</td><td>0</td></tr>
	<tr><td>Strenght<td>3</td></tr>
	<tr><td>Wisdom</td><td>1</td></tr>
</table>
