/* type selectors */
article, aside, figure, figcaption, footer, header, nav, section {
    display: block;
}
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 87.5%;
	width: 650px;
	margin: 0 auto;
	border: 3px solid blue;
}
section {
	padding: 15px 25px;
	background-color: #FF9147;
	border-color: #000;
}
h1 { 
	font-size: 150%;
}
h2 {
	font-size: 120%;
	padding: .25em 0 .25em 25px;
	cursor: pointer;
}
h2.plus {
	background: url(images/plus.png) no-repeat left center;
}
h2.minus {
	background: url(images/minus.png) no-repeat left center;
}
h3 {
	font-size: 120%;
	padding: .25em 0 .25em 25px;
	cursor: pointer
}
h3.plus {
	background-image: url(images/plus.png);
	background-repeat: no-repeat;
	background-position: left center;
}
h3.minus {
	background: url(images/minus.png) no-repeat left center;
}
ul {
	text-indent: 25px;
	padding-left: 45px;
}
li {
	padding-bottom: .25em;
}
p {
	padding-bottom: .25em;
	padding-left: 25px;
}
div.closed {
	display: none;
}
div.open {
	display: block;
}
